  /* Site background is set to light gray */
  body {
    background-color: lightgray;
  }

  /* Global site font is set to Verdana, with several other sans-serif fonts as backups as recommended at https://www.w3schools.com/css/css_font.asp */
  * {
    font-family: Verdana, Tahoma, Arial, sans-serif;
  }

  /* h1 selector is set to center alignment, normal text weight, and 36px font size (overriding two defaults). A grey text shadow effect is added, inspired by the example at
  https://www.w3schools.com/css/css_text_shadow.asp */
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: 36px;
    text-shadow: 3px 3px 4px gray;
  }

  /* h2 selector is set to center alignment, normal text weight, and 28px font size with a 30px margin to provide a bit of white space between h1 and h2 (overriding three defaults) */
  h2 {
    text-align: center;
    font-weight: normal;
    font-size: 28px;
    margin-top: 30px;
  }

  /* h3 selector is set to normal text weight and 24 px font size with an overline text decoration (overriding two defaults)
     Overline instructions from https://www.w3schools.com/cssref/pr_text_text-decoration.php */
  h3 {
    font-weight: normal;
    font-size: 24px;
    text-decoration: overline
  }

  /* p selector is set to 18px font size with a silver background. Note that the third required CSS declaration is the font-family inherited from the wildcard at the top of the page. */
  p {
    font-size: 18px;
    background-color: silver;
  }

  ul {
    font-size: 18px;
    background-color:silver;
    margin-top: 0px;

  /* Table and components are set to have a 1px collapsed black border. The font size is set to 18px, with 5px of padding around it and a left alignment.
  Based on instructions at https://www.w3schools.com/css/css_table.asp, https://www.w3schools.com/css/css_table_align.asp, and https://www.w3schools.com/css/css_table_style.asp */
  table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: left;
    font-size: 18px;
  }

  /* Table entries that indicate I've successfully graduated are coloured green and bolded. I intended the text colour to change to match the rest of the row on mouse-over, but this class keeps overriding 
     the ID selectors used for the rest of the table. If I'm understanding w3schools correctly (https://www.w3schools.com/css/css_important.asp) I should apparently be able to override this with !important,
     but it does not seem to be taking for some reason so the green stays whether the row is moused-over or not.
     Green shade is Kelly Green from https://cssgradient.io/shades-of-green/ */
  .grad {
    color: #4CBB17;
    font-weight: bold;
  }

  /* Table categories line set to silver background to match p tags */
  #tr1 {
    background-color:silver;
  }

  /* First line of education data changes to school colours on mouse-over 
  Instructions and design inspiration for all five upcoming data rows from https://www.w3schools.com/css/css_table_style.asp */
  #tr2:hover {
    background-color: lightseagreen;
    color: white;
  }

  /* Second line of education data changes to school colours on mouse-over */
  #tr3:hover {
    background-color:blue;
    color:gold;
  }

  /* Third line of education data changes to school colours on mouse-over */
  #tr4:hover {
    background-color: firebrick;
    color: orange;
  }

  /* Fourth line of education data changes to school colours on mouse-over */
  #tr5:hover {
    background-color: maroon;
    color:yellow;
  }

  /* Fifth line of education data changes to school colours on mouse-over */
  #tr6:hover {
    background-color: red;
    color: black;
  }

  /* All external links are coloured teal to provide contrast with internal links */
  .external {
    color: teal;
    text-decoration: overline underline teal;
  }

  /* All divs surrounding photos and their caption on the gallery page are centred. Instructions on how to accomplish this were found here: https://www.freecodecamp.org/news/how-to-center-an-image-in-css/ */
  .photo {
    text-align: center;
  }

  /* The first three photos in the gallery are the same size, so I used a class to display them in their native resolution.
     https://www.w3schools.com/css/css_dimension.asp used for guidance here and for the two IDs immediately below this entry */ 
  .img1to3 {
    width: 525px;
    height: 393px;
  }

  /* ID used to display image 4 in its native resolution */
  #img4 {
    width: 525px;
    height: 401px;
  }

  /* ID used to display image 5 in its native resolution */
  #img5 {
    width: 525px;
    height: 626px;
  }
